.header__menu--top {
  @include menu-basic(rgb(247, 240, 240));
  padding: 0.5rem 1rem;

  @media only screen and (max-width: 700px) {
    display: none;
  }

  .header__menu--top__element {
    margin: $margin-main;
    color: $color-menu;
    text-transform: uppercase;
    font-size: 0.625rem;
    cursor: help;

    & > a {
      text-decoration: none;
      color: $color-menu;
    }
  }
}

.header__menu--middle {
  margin: $margin-main;
  @include menu-basic(white);
  @media only screen and (max-width: 700px) {
    margin: 1rem 0 0;
  }

  .header__menu--middle__nav {
    @extend %space-around;
    color: $color-menu;
    width: $width-standard;
    max-width: 18rem;
    text-transform: uppercase;
    @media only screen and (max-width: 700px) {
      display: none;
    }

    .menumiddle__nav--item {
      text-decoration: none;
      color: $color-text;
    }
    .menumiddle__nav--item:hover {
      text-decoration: underline;
    }
  }

  .header__menu--middle__logo {
    width: $width-standard;
    @extend %space-around;
    max-width: 18.75rem;

    @media only screen and (max-width: 700px) {
      justify-content: flex-start;
      padding-left: 1rem;
    }
  }

  .header__menu--middle__nav--side {
    box-sizing: border-box;
    width: $width-standard;
    max-width: 18.75rem;
    @extend %between-centered;

    .navside__button {
      @extend %column-centered;
      @include text-decor;
      .navside__item {
        @media only screen and (max-width: 700px) {
          display: none;
        }
      }
      .navside__item:hover {
        text-decoration: underline;
      }
    }
  }
}

.header__menu--bottom {
  margin: $margin-main;
  @include menu-basic(white);
}

.header__menu--bottom__nav {
  max-width: 37.5rem;
  width: $width-standard;
  padding-left: 1rem;

  @media only screen and (max-width: 700px) {
    max-width: 3.5rem;
  }
}

.btn__hamburger {
  display: none;

  @media only screen and (max-width: 700px) {
    display: block;
    background: white;
    border: none;
    cursor: pointer;

    img {
      width: 35px;
      height: 35px;
      padding: 0;
    }
  }
}

.header__menu--bottom__slide {
  display: flex;
  justify-content: space-between;
  list-style-type: none;

  @media only screen and (max-width: 700px) {
    clear: both;
    width: 100vw;
    height: 0px;
    left: 0;
    overflow: hidden;
    text-align: center;
    transition: height 0.4s ease;
    display: block;

    li {
      padding: 1rem;
    }
  }
}

.menubottom__item {
  @include text-decor;
}
.menubottom__item:hover {
  text-decoration: underline;
  text-decoration-color: orangered;
}
.menubottom__item-diff {
  color: red;
  text-decoration: none;
}
.menubottom__item-diff:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}
#touch:checked + .header__menu--bottom__slide {
  @media only screen and (max-width: 700px) {
    height: auto;
    position: absolute;
    z-index: 999;
    background: white;
  }
}

.header__search {
  @extend %aligned-end;
  margin: 0.625rem 0;
  .header__searchfield {
    border: 0;
    border-bottom: 1px solid $color-text;
    outline: 0;
  }
  img {
    cursor: pointer;
    padding-left: 0.5rem;
  }
}

.promo {
  @extend %around-centered;
}

.sales {
  @include image-background(url(../src/images/candy-background.png));
  max-height: 15.625rem;
  @media only screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
  }
  .sales__box {
    color: white;
    .sales__box--hour {
      margin: $margin-main;
    }
  }

  .sales__link {
    color: white;
    text-decoration-color: white;
  }
}

.jackets {
  @include image-background(url(../src/images/jackets.png));
  max-height: 31.25rem;
  margin-top: 17rem;
  @media only screen and (max-width: 700px) {
    background: white;
    margin-top: 17rem;
  }

  .jackets__mobilebackground {
    @media only screen and (max-width: 700px) {
      margin-top: 0.75rem;
      width: $width-standard;
      max-height: 25rem;
      position: relative;
    }
    @media only screen and (min-width: 700px) {
      display: none;
    }
  }

  .jackets__text {
    margin: 1.25rem;
    margin-top: 10rem;
    padding: 1rem;
    background-color: white;
    display: inline-block;
    max-width: 28.125rem;
    position: relative;
    @media only screen and (max-width: 700px) {
      position: absolute;
    }
    .jackets__title--upper {
      margin: $margin-main;
      color: $color-text;
    }
    .jackets__title--lower {
      margin: $margin-main;
      margin-top: 0.3125rem;
    }
    .jackets__link {
      margin: $margin-main;
      color: $color-text;
    }
  }
}

.slider__container {
  position: relative;
  margin-top: 50rem;
  padding: 1rem;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 22rem;
  width: 100vw;

  @media only screen and (max-width: 700px) {
    margin-top: 47rem;
    height: 17rem;
  }

  ul {
    background: #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }

  ul > li {
    display: inline-block;
    font-size: 10pt;
    height: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 25%;

    @media only screen and (max-width: 700px) {
      width: 50%;
    }
  }

  ul > li:nth-of-type(3),
  ul > li:nth-of-type(4) {
    display: inline-block;

    @media only screen and (max-width: 700px) {
      display: none;
    }
  }

  img {
    max-height: 18.75rem;
    border: 0;
    display: inline-block;
    opacity: 0.8;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;

    @media only screen and (max-width: 700px) {
      max-height: 12.5rem;
    }
  }

  ul > li:hover > img {
    opacity: 1;
  }

  input {
    display: none;
  }

  label {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: pointer;
    display: block;
    height: 100%;
    line-height: 200px;
    overflow: hidden;
    padding-left: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 0;
    visibility: hidden;
    z-index: 1;

    @media only screen and (max-width: 700px) {
      padding-left: 35px;
    }
  }

  label:hover {
    background: #fff;
    color: #000;
  }

  label:before {
    display: block;
    font-size: 30pt;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;

    @media only screen and (max-width: 700px) {
      font-size: 15pt;
      width: 30px;
    }
  }

  input:nth-of-type(1):checked ~ ul:nth-of-type(1) {
    margin-left: 0;
  }
  input:nth-of-type(2):checked ~ ul:nth-of-type(1) {
    margin-left: -100%;
  }
  input:nth-of-type(3):checked ~ ul:nth-of-type(1) {
    margin-left: -200%;
  }
  input:nth-of-type(4):checked ~ ul:nth-of-type(1) {
    margin-left: -300%;
  }
  input:nth-of-type(5):checked ~ ul:nth-of-type(1) {
    margin-left: -400%;
  }
  input:nth-of-type(6):checked ~ ul:nth-of-type(1) {
    margin-left: -500%;
  }
  input:nth-of-type(7):checked ~ ul:nth-of-type(1) {
    margin-left: -600%;
  }
  input:nth-of-type(8):checked ~ ul:nth-of-type(1) {
    margin-left: -700%;
  }
  input:nth-of-type(9):checked ~ ul:nth-of-type(1) {
    margin-left: -800%;
  }

  input:nth-of-type(1):checked ~ label:nth-last-of-type(1),
  input:nth-of-type(2):checked ~ label:nth-of-type(1),
  input:nth-of-type(3):checked ~ label:nth-of-type(2),
  input:nth-of-type(4):checked ~ label:nth-of-type(3),
  input:nth-of-type(5):checked ~ label:nth-of-type(4),
  input:nth-of-type(6):checked ~ label:nth-of-type(5),
  input:nth-of-type(7):checked ~ label:nth-of-type(6),
  input:nth-of-type(8):checked ~ label:nth-of-type(7),
  input:nth-of-type(9):checked ~ label:nth-of-type(8) {
    left: 0;
    visibility: visible;
  }

  input:nth-of-type(1):checked ~ label:nth-last-of-type(1):before,
  input:nth-of-type(2):checked ~ label:nth-of-type(1):before,
  input:nth-of-type(3):checked ~ label:nth-of-type(2):before,
  input:nth-of-type(4):checked ~ label:nth-of-type(3):before,
  input:nth-of-type(5):checked ~ label:nth-of-type(4):before,
  input:nth-of-type(6):checked ~ label:nth-of-type(5):before,
  input:nth-of-type(7):checked ~ label:nth-of-type(6):before,
  input:nth-of-type(8):checked ~ label:nth-of-type(7):before,
  input:nth-of-type(9):checked ~ label:nth-of-type(8):before {
    content: "◀";
  }

  input:nth-of-type(1):checked ~ label:nth-of-type(2),
  input:nth-of-type(2):checked ~ label:nth-of-type(3),
  input:nth-of-type(3):checked ~ label:nth-of-type(4),
  input:nth-of-type(4):checked ~ label:nth-of-type(5),
  input:nth-of-type(5):checked ~ label:nth-of-type(6),
  input:nth-of-type(6):checked ~ label:nth-of-type(7),
  input:nth-of-type(7):checked ~ label:nth-of-type(8),
  input:nth-of-type(8):checked ~ label:nth-of-type(9),
  input:nth-last-of-type(1):checked ~ label:nth-of-type(1) {
    right: 0;
    visibility: visible;
  }

  input:nth-of-type(1):checked ~ label:nth-of-type(2):before,
  input:nth-of-type(2):checked ~ label:nth-of-type(3):before,
  input:nth-of-type(3):checked ~ label:nth-of-type(4):before,
  input:nth-of-type(4):checked ~ label:nth-of-type(5):before,
  input:nth-of-type(5):checked ~ label:nth-of-type(6):before,
  input:nth-of-type(6):checked ~ label:nth-of-type(7):before,
  input:nth-of-type(7):checked ~ label:nth-of-type(8):before,
  input:nth-of-type(8):checked ~ label:nth-of-type(9):before,
  input:nth-last-of-type(1):checked ~ label:nth-of-type(1):before {
    content: "▶";
  }

  ul > li:target {
    background: rgba(0, 0, 0, 0.8);
    cursor: default;
    height: 100%;
    font-size: 12pt;
    left: 0;
    line-height: 125%;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    white-space: normal;
    z-index: 2;
  }

  ul > li:target > a:first-child {
    display: inline;
  }

  ul > li:target > :first-child ~ * {
    background: #fff;
    border-radius: 2em;
    display: block;
    margin: 1em auto;
    padding: 1.5em;
    text-align: left;
    width: 30em;
  }

  ul > li:target > img:first-child {
    margin: 1em;
    opacity: 1;
    max-height: 400px;
    max-width: 400px;
    -webkit-transition: none;
    transition: none;
  }

  .slider__slide--article {
    text-decoration: none;
    color: #1a1a1a;
  }
}

.categories__container {
  width: $width-standard;
  position: relative;
  display: block;
  .categories__text {
    margin: 2rem 6.6rem 0.625rem;
    @media only screen and (max-width: 700px) {
      margin: 1rem 0.5rem 0.625rem;
    }
    .categories__text--firsttitle {
      color: $color-menu;
    }
    .categories__text--secondtitle {
      font-size: 2rem;
      @media only screen and (max-width: 700px) {
        font-size: 1.5rem;
      }
    }
  }
  .categories__images {
    @extend %content-center;
    width: $width-standard;
    @media only screen and (max-width: 700px) {
      flex-wrap: wrap;
    }

    .categories__images--item {
      @extend %column;
      padding: 0 0.5rem 1rem 0.5rem;
      @media only screen and (max-width: 700px) {
        flex-grow: 1;
        width: 45%;
      }
    }
    .categories__images--item img {
      width: $width-standard;
      max-width: 25rem;
    }
    .categories__images--title {
      text-align: center;
      color: $color-text;
      text-decoration-color: $color-text;
    }
  }
}

.footer__container {
  width: $width-standard;
  padding: 3rem 6rem;
  text-align: justify;
  @media only screen and (max-width: 700px) {
    display: none;
  }
  .footer__text {
    color: $color-menu;
  }
}

.links__container {
  box-sizing: border-box;
  margin: 1rem 5rem;
  @media only screen and (max-width: 700px) {
    margin: 0;
  }
  .links__title {
    margin: 2rem 0.5rem;

    @media only screen and (max-width: 700px) {
      margin: 2rem;
    }
  }
  .links__box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.25rem;
    justify-content: space-between;
    width: $width-standard;
    box-sizing: border-box;
    margin-bottom: 2rem;
    @media only screen and (max-width: 700px) {
      justify-content: space-around;
    }

    .links__box--title {
      flex-basis: 25%;
      max-width: 25%;
      padding-left: 8px;
      padding-right: 8px;
      color: $color-menu;

      a {
        @include text-decor;
      }

      @media only screen and (max-width: 700px) {
        margin: 0.5rem 0.85rem;
      }
    }
    .links__box--title:hover {
      text-decoration: underline;
      text-decoration-color: $color-text;
    }
  }
}

.footer__navigation {
  @include menu-basic(#eceaeb);
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  @media only screen and (max-width: 700px) {
    display: block;
  }
  .footer__navigation--section {
    flex-basis: 50%;
    max-width: 50%;
    position: relative;
    margin: 1rem 0;
    @media only screen and (max-width: 700px) {
      margin: 0;
      max-width: 100%;
    }
    .footer__navigation--title {
      margin: 1rem 2.2rem;
      color: #3a3a3a;
      display: block;
      position: relative;
      @media only screen and (max-width: 700px) {
        width: $width-standard;
        border-top: 1px solid #cfcfcf;
        display: block;
        position: relative;
        background: #dcdcdc;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 0.8125rem;
        padding-left: 1.25rem;
        color: #474141;
        margin: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
    .footer__navigation--title::after {
      @media only screen and (max-width: 700px) {
        content: "+";
        display: block;
        width: 1.875rem;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0.625rem;
        color: #444;
        font-size: 1.25rem;
      }
    }
    .footer__navitem.image-section {
      @media only screen and (max-width: 700px) {
        display: none;
      }
    }
    .footer__navitem {
      column-count: 2;
      margin: 0 2.2rem;
      transition: all 0.15s ease-out;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      @media only screen and (max-width: 700px) {
        display: none;
        column-count: 1;
      }

      .footer__navitem--link {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0.3125rem 0;
        @media only screen and (max-width: 700px) {
          max-width: 100%;
        }
        a {
          text-decoration: none;
          color: #444;
        }
      }
      .footer__navitem--link:hover {
        text-decoration: underline;
      }
      .footer__navitem--link::marker {
        color: transparent;
      }
      .footer__navitem--imglink {
        padding: 0.3125rem;
      }
      .button-small {
        @extend %content-center;
        text-align: center;
      }
      .footer__navitem--link img {
        max-width: 4.375rem;
      }
    }
  }
  .footer__navigation--section:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0.0625rem;
    background-color: #ccc;
  }
  li.footer__navigation--section::marker {
    color: transparent;
  }
}

.footer__navigation .footer__navitem,
.footer__navigation .image-section {
  @media only screen and (max-width: 700px) {
    display: none;
  }
}
.footer__navigation input,
.footer__navigation .navigation-closer,
.footer__navigation input:checked ~ .navigation-opener {
  display: none;
}
.footer__navigation input:checked ~ .footer__navitem,
.footer__navigation input:checked ~ .navigation-closer {
  display: none;
  @media only screen and (max-width: 700px) {
    display: block;
  }
}

.footer__navigation input:checked ~ .footer__navitem.image-section {
  @media only screen and (max-width: 700px) {
    display: flex;
  }
}
